.conge-list-menu {
  padding-bottom: 1rem;
}

.conge-list-items {
  padding-bottom: 1rem;
}

.badge-primary {
  background-color: #004D93;
}

.alert.alert-infotel
{
  background-color: #41475A;
  border-color: #41475A;
  color:#FFFFFF;
}
