<div class="card card-inverse conge-item my-2 mr-2" [class.conge-item-selected]="userConge.isSelected">
  <div class="card-block">
    <h3 class="card-title">{{userConge.user.firstname}} {{userConge.user.lastname}} ({{userConge.conge.offDayNumber}})</h3>
    <p class="card-text">{{userConge.conge.beginDate}} - {{userConge.conge.endDate}}</p>
  </div>
    <div class="card-footer">
      <div class="btn-group btn-group-sm" role="group" aria-label="Actions possible" style="float:right;">
        <button type="button" *ngIf="userConge.conge.status !== CongeStatus.VALIDATED" (click)="validate()" class="btn btn-secondary"><i class="fa fa-check" aria-hidden="true"></i></button>
        <!--<button type="button" class="btn btn-secondary"><i class="fa fa-envelope-o" aria-hidden="true"></button>-->
        <button type="button" (click)="delete()" class="btn btn-secondary"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </div>
    </div>
</div>
